In [1]:
# constructing a dataframe

In [5]:
using DataFrames

In [11]:
DataFrame(a = 1:4,b = ["F", "M", "F", "M"])

4×2 DataFrame
 Row │ a      b
     │ Int64  String
─────┼───────────────
   1 │     1  F
   2 │     2  M
   3 │     3  F
   4 │     4  M

In [12]:
# 使用具名元组创建数据框
DataFrame((
    a=1:3,
    b=["F", "M", "F"]
))

3×2 DataFrame
 Row │ a      b
     │ Int64  String
─────┼───────────────
   1 │     1  F
   2 │     2  M
   3 │     3  F

In [13]:
# 使用具名元组列表创建数据框
# 每一个具名元组就是一行
DataFrame(
    [
        (a=0, b=1),
        (a=2, b=3)
    ]
)

2×2 DataFrame
 Row │ a      b
     │ Int64  Int64
─────┼──────────────
   1 │     0      1
   2 │     2      3

In [28]:
# Julia Pair对象
p = "Bee" => "30"
# 获取键值对象的键
@show first(p)
# 获取键值对象的值
@show last(p)

# Symbol对象
# 唯一标识符 常用于键值对象的键
# 是轻量级的 不可变的
s1 = :a
s2 = :a
s3 = :b
@show s1 == s2
@show s3 == s2

first(p) = "Bee"
last(p) = "30"
s1 == s2 = true
s3 == s2 = false

false

In [23]:
# 使用键值对象创建数据框
DataFrame(
    :a => 1:2,
    :b => 3:4
)

2×2 DataFrame
 Row │ a      b
     │ Int64  Int64
─────┼──────────────
   1 │     1      3
   2 │     2      4

In [29]:
# 使用键值对列表创建数据框
# 每一列是一个键值对
DataFrame(
    [
        :a => 1:3,
        :b => 4:6,
        :c => 7:9
    ]
)

3×3 DataFrame
 Row │ a      b      c
     │ Int64  Int64  Int64
─────┼─────────────────────
   1 │     1      4      7
   2 │     2      5      8
   3 │     3      6      9

In [30]:
# 使用字典创建一个数据框
# 每一列式一个键值对
DataFrame(
    Dict(
        :a => 1:3,
        :b => 4:6,
        :c => 7:9
    )
)

3×3 DataFrame
 Row │ a      b      c
     │ Int64  Int64  Int64
─────┼─────────────────────
   1 │     1      4      7
   2 │     2      5      8
   3 │     3      6      9

In [ ]:
# 使用多维数组创建
# 指定列名
# 每一个子向量是一列
DataFrame(
    [
        [1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]
    ],
    [:a, :b, :c]
)

3×3 DataFrame
 Row │ a      b      c
     │ Int64  Int64  Int64
─────┼─────────────────────
   1 │     1      4      7
   2 │     2      5      8
   3 │     3      6      9

In [34]:
# 使用多维数组创建数据框
# 不指定列名
DataFrame(
    [
        [1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]
    ],
    :auto
)

3×3 DataFrame
 Row │ x1     x2     x3
     │ Int64  Int64  Int64
─────┼─────────────────────
   1 │     1      4      7
   2 │     2      5      8
   3 │     3      6      9

In [ ]:
# 数据框单列的查询
df = DataFrame(
    A = 1:3,
    B = 4:6,
    C = 7:9
)

# 使用.操作符
# 拷贝查询
@show df_A = df.A

# 使用[]操作符
# 拷贝查询
@show c_A = df[:, :A]

# 原地查询
c_A = df[!, "A"]

df_A = df.A = [1, 2, 3]
c_A = df[:, :A] = [1, 2, 3]
df = 3×3 DataFrame
 Row │ A      B      C
     │ Int64  Int64  Int64
─────┼─────────────────────
   1 │     1      4      7
   2 │     2      5      8
   3 │     3      6      9

3×3 DataFrame
 Row │ A      B      C
     │ Int64  Int64  Int64
─────┼─────────────────────
   1 │     1      4      7
   2 │     2      5      8
   3 │     3      6      9

In [51]:
# 拷贝查询和引用查询的区别

# 修改引用查询结果时，原数据框也别修改
df_ref = df[!, :A]
df_ref[1] = 10

@show df_ref
@show df

# 拷贝查询
df_copy = df[:, :A]
df_copy

# 修改拷贝查询结果时 原始数据不会修改
df_copy[1] =20
@show df_copy
@show df
@show df_ref

df_ref = [10, 2, 3]
df = 3×3 DataFrame
 Row │ A      B      C
     │ Int64  Int64  Int64
─────┼─────────────────────
   1 │    10      4      7
   2 │     2      5      8
   3 │     3      6      9
df_copy = [20, 2, 3]
df = 3×3 DataFrame
 Row │ A      B      C
     │ Int64  Int64  Int64
─────┼─────────────────────
   1 │    10      4      7
   2 │     2      5      8
   3 │     3      6      9
df_ref = [10, 2, 3]

3-element Vector{Int64}:
 10
  2
  3