In [2]:
using DataFrames

In [3]:
grades_2020

UndefVarError: UndefVarError: `grades_2020` not defined in `Main`
Suggestion: check for spelling errors or missing imports.

In [4]:
# 使用数组来创建数据框
column1 = collect(1:10)
column2 = collect(11:20)
column3 = collect(21:30)

df = DataFrame(
    c1=column1,
    c2=column2,
    c3=column3
)

10×3 DataFrame
 Row │ c1     c2     c3
     │ Int64  Int64  Int64
─────┼─────────────────────
   1 │     1     11     21
   2 │     2     12     22
   3 │     3     13     23
   4 │     4     14     24
   5 │     5     15     25
   6 │     6     16     26
   7 │     7     17     27
   8 │     8     18     28
   9 │     9     19     29
  10 │    10     20     30

In [5]:
# 使用字典来创建数据框

In [6]:

# 方法1
DataFrame(
    Dict(
        "name" => ["Alison", "Bee", "Cate"],
        "age" => [31, 30, 29],
        "remark" => [100, 98, 65]
    )
)

3×3 DataFrame
 Row │ age    name    remark
     │ Int64  String  Int64
─────┼───────────────────────
   1 │    31  Alison     100
   2 │    30  Bee         98
   3 │    29  Cate        65

In [7]:
# 使用字典数组来创造数据框
df = DataFrame([
    Dict("name"=>"Alison", "age"=>21, "remark"=>100),
    Dict("name"=>"Bee", "age"=>31, "remark"=>65),
    Dict("name"=>"Cate", "age"=>39, "remark"=>98)
])

3×3 DataFrame
 Row │ name    remark  age
     │ String  Int64   Int64
─────┼───────────────────────
   1 │ Alison     100     21
   2 │ Bee         65     31
   3 │ Cate        98     39

In [15]:
using   CSV
using   XLSX

In [17]:
# 保存为tsv文件
CSV.write("test.tsv", df, delim="\t")
# 保存为csv文件
CSV.write("test.csv", df, slim=",")
# 保存为xlsx文件
XLSX.write("test.xlsx", Tables.table(df))

MethodError: MethodError: no method matching table(::DataFrame)
The function `table` exists, but no method is defined for this combination of argument types.

Closest candidates are:
  table(!Matched::AbstractVecOrMat; header)
   @ Tables C:\Users\Administrator\.julia\packages\Tables\8p03y\src\matrix.jl:65

In [20]:
using DataFrames
using XLSX

# 创建一个示例数据框
df = DataFrame(
    Name = ["Alice", "Bob", "Charlie"],
    Age = [25, 30, 35],
    Score = [85.5, 92.0, 88.0]
)

# 保存数据框到 Excel 文件
XLSX.openxlsx("output.xlsx", mode="w") do workbook
    sheet = workbook["Sheet1"]  # 自动创建或获取名为 "Sheet1" 的工作表
    # 写入标题（列名）
    for (col_idx, col_name) in enumerate(names(df))
        sheet[1, col_idx] = col_name  # 第一行写入列名
    end
    # 写入数据
    for (row_idx, row) in enumerate(eachrow(df))
        for (col_idx, value) in enumerate(row)
            sheet[row_idx + 1, col_idx] = value  # 从第二行开始写入数据
        end
    end
end

println("DataFrame 已成功写入 output.xlsx 文件！")

DataFrame 已成功写入 output.xlsx 文件！

In [58]:
using   XLSX: writetable, openxlsx, readxlsx, sheetnames

In [55]:
XLSX.writetable("report.xlsx", "REPORT_A" => df, "REPORT_B" => df)

In [60]:
wb = readxlsx("report.xlsx")

XLSXFile("report.xlsx") containing 2 Worksheets
            sheetname size          range
-------------------------------------------------
             REPORT_A 4x3           A1:C4
             REPORT_B 4x3           A1:C4

In [61]:
sheetnames(wb)

2-element Vector{String}:
 "REPORT_A"
 "REPORT_B"

In [62]:
s1 = wb["REPORT_A"]

4×3 XLSX.Worksheet: ["REPORT_A"](A1:C4)

In [63]:
s1

4×3 XLSX.Worksheet: ["REPORT_A"](A1:C4)

In [64]:
typeof(s1)

XLSX.Worksheet

In [65]:
DataFrame(s1)

ArgumentError: ArgumentError: no default `Tables.columns` implementation for type: XLSX.Worksheet

In [68]:
DataFrame(XLSX.readtable("report.xlsx", "REPORT_A"))

3×3 DataFrame
 Row │ Name     Age  Score
     │ Any      Any  Any
─────┼─────────────────────
   1 │ Alice    25   85.5
   2 │ Bob      30   92.0
   3 │ Charlie  35   88.0

In [69]:
# 最常用的是readtable和writetable

In [72]:
CSV.read("test.tsv", DataFrame, delim="\t")

3×3 DataFrame
 Row │ name     remark  age
     │ String7  Int64   Int64
─────┼────────────────────────
   1 │ Alison      100     21
   2 │ Bee          65     31
   3 │ Cate         98     39

In [73]:
CSV.write("test1.tsv", df, delim="\t")

"test1.tsv"

In [74]:
# CSV 中 常用的是read 和 write